## Lab1 Assignment

### Aug 23,2023

### QUES 1 Print the below things in python

In [1]:
print("Python Programming")

Python Programming

In [4]:
print("Subject name and subject code :PC-503 Programming Lab")

Subject name and subject code :PC-503 Programming Lab

In [5]:
print("Name: Deepak Khatri")

Name: Deepak Khatri

In [6]:
print("Address: 248/1 sector 1c, Gandhinagar")

Address: 248/1 sector 1c, Gandhinagar

### QUES 2 Create the below variable and print its data type

In [11]:
# a. Integer
temp = 29
humidity = 73
print(temp,"c",type(temp))
print(humidity,"%",type(humidity))

29 c <class 'int'>
73 % <class 'int'>

In [12]:
# b. Floating point
road = 50.5
water_volume = 23.5
soil_moisture = 98.56
print(road,type(road))
print(water_volume,type(water_volume))
print(soil_moisture,type(soil_moisture))

50.5 <class 'float'>
23.5 <class 'float'>
98.56 <class 'float'>

In [13]:
#c. complex number
temp1 = 2+3j
temp2 = 10-6j
print(temp1,type(temp1))
print(temp2,type(temp2))

(2+3j) <class 'complex'>
(10-6j) <class 'complex'>

In [14]:
#d. Boolean
print(True,type(True))

True <class 'bool'>

### QUES 3 Perform the below string operation

In [22]:
str1= "Agricultural development is central to Indian economy"
str2="Indian agriculture is a gamble of monsoon"

In [24]:
#Check whether India is in str1 or not.
substr = "India"
print(str1.find(substr))

39

In [27]:
#Convert str1 and str2 into camel case.
split1 = str1.split(" ")
camelcase = split1[0]+" "+" ".join(word.title() for word in split1[1:])
camelcase

'Agricultural Development Is Central To Indian Economy'

In [28]:
split2 = str2.split(" ")
camelcase = split2[0]+" "+" ".join(word.title() for word in split2[1:])
camelcase

'Indian Agriculture Is A Gamble Of Monsoon'

In [33]:
#Convert str1 into Upper and str2 into  Lower Case
st1 = str1.upper()
st2 = str2.lower()
print(st1)
print(st2)

AGRICULTURAL DEVELOPMENT IS CENTRAL TO INDIAN ECONOMY
indian agriculture is a gamble of monsoon

In [34]:
#Combin str1 and str2
f_str = str1+str2
f_str

'Agricultural development is central to Indian economyIndian agriculture is a gamble of monsoon'

In [38]:
#Add tabs in str1 in between Agricultural and development
str_t = "Agricultural \t\t development is central to Indian economy"
print(str_t)

Agricultural 		 development is central to Indian economy

In [50]:
#Separate all words of str1 and srt2
split_str1 = str1.split()
print(split_str1)
split_str2 = str2.split()
print(split_str2)

['Agricultural', 'development', 'is', 'central', 'to', 'Indian', 'economy']
['Indian', 'agriculture', 'is', 'a', 'gamble', 'of', 'monsoon']

In [53]:
#Check if the str1 is alphabetic, numeric or alphanumeric
result = str1.isalpha()
print(result)
result1 = str1.isnumeric()
print(result1)
result2 = str1.isalnum()
print(result2)

False
False
False

### QUES4 Input two numbers and print its square and cube. (Take input from the user)

In [55]:
a = int(input("a :"))
b = int(input("b :"))
sq = a*a
sq1 = b*b
cub = a*sq
cub1 = b+sq1
print("square of a:"+str(sq)+" square of b:"+str(sq1))
print("cube of a:"+str(cub)+" cube of b:"+str(cub1))

square of a:4 square of b:9
cube of a:8 cube of b:12

### QUES 5 Input two numbers and print their Addition, Subtraction, Multiplication, and Division. (Take input from the user)

In [56]:
x = int(input("x :"))
y = int(input("y :"))
add = x+y
sub = x-y
mul = x*y
div = x/y

print("Addition:",add)
print("Subtraction:",sub)
print("multiplication:",mul)
print("division:",div)

Addition: 15
Subtraction: 5
multiplication: 50
division: 2.0

### QUES 6 Perform the following operation (Use multiple assignments to assign variable to value)

In [60]:
p =2
b= 3
d =2
g=1
h=4
k =1
n=3
r=6 
m= 5
v =4
a = p*(1+(r/100)/n)-p
c=(a+b)*(a+b) 
l = (c+d)*(g+h)
x=((k-4)*(a*4))/100 
s=((4*a+c)-2*a*b)/100
t=((v+s)+(l-m)*l) 
print(a)
print(c)
print(l)
print(x)
print(s)
print(t)

0.040000000000000036
9.2416
56.208
-0.004800000000000004
0.091616
2882.39088

### QUES 7 Calculate the area of the Triangle.

In [61]:
a = 4
b = 6
area = 1/2 *b*a
print("Area of triangle: ",area)

Area of triangle:  12.0

### QUES 8 Input a Rupees and prints its value converted into Dollar.

In [62]:
rup = int(input("Enter the ruppes: "))
dol = 80*rup
print("Converted ruppes in dollar:",dol)

Converted ruppes in dollar: 2000