## August 24

### Different Data Types

### sets

In [1]:
basket = {"apple","orange","grapes","orange","pineapple"}
print(basket)

{'pineapple', 'orange', 'grapes', 'apple'}

In [2]:
"orange" in basket

True

In [4]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')

In [5]:
a

{'a', 'b', 'c', 'd', 'r'}

In [6]:
a - b

{'b', 'd', 'r'}

In [7]:
 a | b # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [8]:
a & b

{'a', 'c'}

In [9]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [11]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

### Dictionaries

In [13]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [14]:
tel['sape']

4139

In [16]:
del tel['jack']
tel

{'sape': 4139, 'guido': 4127}

In [17]:
tel['irv'] = 4127
tel

{'sape': 4139, 'guido': 4127, 'irv': 4127}

In [18]:
list(tel)

['sape', 'guido', 'irv']

In [19]:
sorted(tel)

['guido', 'irv', 'sape']

In [20]:
'guido' in tel

True

In [22]:
'sape' not in tel

False

In [23]:
#The dict() constructor builds dictionaries directly from sequences of key-value pairs:

dict([('viraj', 123), ('deepak', 127), ('nirmal', 198)])

{'viraj': 123, 'deepak': 127, 'nirmal': 198}

In [24]:
{x:x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [25]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

### Looping Technique

In [26]:
knights = {'Viraj': 'the pure', 'Samarth': 'the brave'}
for i,j in knights.items():
    print(i,j)

Viraj the pure
Samarth the brave

In [27]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [28]:
#To loop over two or more sequences at the same time, the entries can be paired with the zip() function
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print(q,a)

name lancelot
quest the holy grail
favorite color blue