## August 28

### Different Data Types

### reversed() function.

In [2]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [3]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange',
'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [4]:
for i in sorted(set(basket)):
    print(i)

apple
banana
orange
pear

In [5]:
import math
raw_data = [56.3,float('NaN'),50.23,55.3,51.7,float('NaN'),47.8]
filt_data = []
for value in raw_data:
    if not math.isnan(value):
        filt_data.append(value)

filt_data

[56.3, 50.23, 55.3, 51.7, 47.8]

### More on Conditions

In [9]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
string1, string2, string3
non_null =  string1 or string2 or string3
non_null

'Trondheim'

In [13]:
#Comparing Sequences and Other Types
(1, 2, 3) < (1, 2, 4)

True

In [12]:
[1, 2, 3] < [1, 2, 4]

True

In [14]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [15]:
(1, 2, 5, 4) < (1, 2, 4)

False

In [1]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [2]:
(1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4)

True