## sept 11

### Input & Output

### str.format()

In [4]:
year = 2016
event = 'Referendum'
f'Results of the {year} {event}'

'Results of the 2016 Referendum'

In [2]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)

In [3]:
'{:-9} YES votes {:2.2%}'.format(yes_votes, percentage)

' 42572654 YES votes 49.67%'

In [5]:
s = 'Hello, world.'
str(s)

'Hello, world.'

In [6]:
repr(s)

"'Hello, world.'"

In [7]:
str(1/7)

'0.14285714285714285'

In [8]:
x = 10 * 3.25
y = 200 * 200
s = 'The value of x is ' + repr(x) + ', and y is ' + repr(y) + '...'
print(s)

The value of x is 32.5, and y is 40000...

In [9]:
# The repr() of a string adds string quotes and backslashes:
hello = 'hello, world\n'
hellos = repr(hello)
print(hellos)

'hello, world\n'

### Formatted String Literals

In [12]:
table = {'Sjoerd_tendulkar': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:10} ==> {phone:10d}')

Sjoerd_tendulkar ==>       4127
Jack       ==>       4098
Dcab       ==>       7678

In [13]:
#Other modifiers can be used to convert the value before it is formatted. '!a' applies 
#ascii(), '!s' applies str(), and '!r' applies repr():

animals = 'eels'
print(f'My hovercraft is full of {animals}.')

My hovercraft is full of eels.

In [14]:
print(f'My hovercraft is full of {animals!r}.')

My hovercraft is full of 'eels'.

In [15]:
bugs = 'roaches'
count = 13
area = 'living room'
print(f'Debugging {bugs=} {count=} {area=}')

Debugging bugs='roaches' count=13 area='living room'

### The String format() Method

In [16]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [17]:
print('{1} and {0}'.format('spam', 'eggs'))

eggs and spam

In [18]:
print('This {food} is {adjective}.'.format(food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

In [21]:
print('The story of {0}, {other}, and {1}.'.format('Bill', 'Manfred', other='Georg'))

The story of Bill, Georg, and Manfred.

In [25]:
#If you have a really long format string that you donâ€™t want to split up, it would be nice if you
#could reference the variables to be formatted by name instead of by position.
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {0[Jack]:d}; Sjoerd: {0[Sjoerd]:d}; ''Dcab: {0[Dcab]:d}'.format(table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

In [26]:
print('Jack: {Jack:d}; Sjoerd: {Sjoerd:d}; Dcab: {Dcab:d}'.format(**table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

In [29]:
for x in range(1, 11):
     print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000