# Pandas

## oct 5

In [6]:
#creating a dataframe from scratch
import pandas as pd
data ={'apple':[10,25,5,7],'orange':[8,17,3,4]}
df = pd.DataFrame(data)
df

   apple  orange
0     10       8
1     25      17
2      5       3
3      7       4

In [7]:
df = pd.DataFrame(data,index=['samarth','Darshit','Nirmal','Viraj'])
df

         apple  orange
samarth     10       8
Darshit     25      17
Nirmal       5       3
Viraj        7       4

In [8]:
#pandas orient keyword
data ={'row1':[10,2,5,7],'row2':[8,1,3,4]}
pd.DataFrame.from_dict(data,orient='index')

       0  1  2  3
row1  10  2  5  7
row2   8  1  3  4

In [5]:
#pandas orient keyword
data ={'row1':[10,2,5,7],'row2':['a','b','c','d']}
pd.DataFrame.from_dict(data,orient='index',columns=[5,6,7,8])

       5  6  7  8
row1  10  2  5  7
row2   a  b  c  d

In [9]:
#Reading data from CSV
df = pd.read_csv("dataset.csv",index_col=0)
df

       apple  oranges
sam        3        0
ram        8        5
hamza      2        8
Ali        8        0

In [29]:
df.to_json('new_dataset.json')

### Converting back to a CSV or JSON

In [30]:
df

       apple  oranges
sam        3        0
ram        8        5
hamza      2        8
Ali        8        0

In [34]:
movies_df = pd.read_csv("C:\202311042\pandas\movies.csv", index_col="title")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\x82311042\\pandas\\movies.csv'

In [36]:

df = pd.read_json("dataset.json")
df

  Unnamed: 0  apples  oranges
0      Ahmad       3        0
1        Ali       2        3
2     Rashed       0        7
3      Hamza       1        2

### Loading dataset

In [37]:
movies_df = pd.read_csv("movies.csv", index_col="title")

In [38]:

movies_df.head()

,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
title,,,,,,,
Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [39]:
movies_df.tail(2)

,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
title,,,,,,,
27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

### Getting info about your data

In [40]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, Zack and Miri Make a Porno to (500) Days of Summer
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Genre              77 non-null     object
 1   Lead Studio        77 non-null     object
 2   Audience score %   77 non-null     int64
 3   Profitability      77 non-null     float64
 4   Rotten Tomatoes %  77 non-null     int64
 5   Worldwide Gross    77 non-null     object
 6   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(3)
memory usage: 4.8+ KB

In [48]:
movies_df.shape

(77, 7)

### Handling duplicates

In [50]:
temp_df = movies_df.append(movies_df)

AttributeError: 'DataFrame' object has no attribute 'append'

In [51]:
temp_df = movies_df.append(movies_df)
temp_df.shape

AttributeError: 'DataFrame' object has no attribute 'append'

In [58]:
movies_df.describe()

       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000

In [59]:
movies_df['genre'].describe()

KeyError: 'genre'

In [60]:
import pandas as pd
data = [1,2,3,10,20,30]
df = pd.DataFrame(data)
print(df)

    0
0   1
1   2
2   3
3  10
4  20
5  30

In [61]:
data = {'Name' : ['AA', 'BB'], 'Age': [30,45]}
df = pd.DataFrame(data)
print(df)

  Name  Age
0   AA   30
1   BB   45

In [62]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [63]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0